.boardWrapper > div:nth-child(1){
    height: 5vh;
    padding: 1vh 0;
    text-align: right;
}

.goRegister{
    background-color: inherit;
    border: 1px solid #F2A74B;
    color: #FFF;
    font-weight: 500;
    font-size: 1rem;
    height: 4vh;
}

.boardResultSummary{
    height: 9vh;
    border-radius: 7px;
    margin-top: 2vh;
    margin-bottom: 1vh;
    padding: 1vh 2vw;
}
.boardResultSummary > div:nth-child(1){
    font-size: 1.2em;
    font-weight: 500;
    height: 50%;
    color: #c5c5c5;
}
.boardResultSummary > div:nth-child(2){
    display: flex;
    height: 65%;
    color: gray;
    overflow-x: scroll;
}

.chkbox_multi > input[type="checkbox"]{
    display: none;
}
.chkbox_multi > label{
    margin-right: 1.5vw;
    border: 1px solid gray;
    height: 3.5vh;
    padding: 0.5vh 0;
    min-width: 18vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-radius: 12px;
    color: gray;
}
.chkbox_multi > input[type=checkbox]:checked+label{
    color: #c5c5c5;
    border-color: #c5c5c5;
}

.board{
    display: flex;
    background-color: #F2F2F2;
    color: #24232B;
    height: 15vh;
    border: 1px solid #F2F2F2;
    border-radius: 7px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 95%;
    margin: 1vh auto;
}

.flex-left{
    width: 60%;
    height: inherit;
}
.flex-right{
    width: 40%;
    height: inherit;
}
.top{
    box-sizing: border-box;
    padding: 1vh 2vw;
    height: 40%;
}
.bottom{
    box-sizing: border-box;
    padding: 0.5vh 2vw 1vh 2vw;
    height: 60%;
}


.flex-left > .top{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
}
.flex-left > .bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
}
.flex-left > .bottom > div:nth-child(1){
    height: 60%;
    box-sizing: border-box;
    overflow-x: scroll;
    width: 100%;
    display: flex;
}
.flex-left > .bottom > div:nth-child(1) > div{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    word-break: keep-all;
    height: 60%;
    margin-right: 1vw;
    border: 1px solid gray;
    padding: 0.1vh 1vw;
    font-size: 0.8rem;
    border-radius: 5px;
}
.flex-left > .bottom > div:nth-child(2){
    height: 40%;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 0.7rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.flex-right > .top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.flex-right > .bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;
    font-size: 0.8rem;
}

.flex-left > .top > span{
    font-size: 1.2rem;
    font-weight: 500;
    display: block;
    margin-left: 2vw;
    color: #24232B;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.regionWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.regionWrapper > div{
    border-width: 1px;
    border-style:  solid;
    border-radius: 5px;
    padding: 0.1vh 2vw;
    margin-left: 1vw;
    justify-content: center;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.8rem;
}

.boardCtgrThumbnail{
    height: 4vh;
    margin-right: 2vw;
}

.regeion_col_default{
    background-color: #FFF;
    border-color: #292b51;
    color: #292b51;
}
.region_col_seoul{
    background-color: #455F54;
    border-color: #455F54;
    color: #FFF;
}
.region_col_gynggi{
    background-color: #164194;
    border-color: #164194;
    color: #FFF;
}
.region_col_jeju{
    background-color: #EBA438;
    border-color: #EBA438;
    color: #FFF;
}

