:root {
    --vh: 100%;
    font-size: 14px;
}

html, body, #app, #app>div{
    height: calc(var(--vh, 1vh) * 100);
    background-color : #24232B;
    margin-bottom: 6vh;
}

body{
    margin: 0;
}
#root{
    padding-bottom: 6vh;
}

input, textarea, button{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
input:disabled{
    background-color: #F2F2F2;
}

.input{
    height: 5vh;
    border: 1px solid #292b51;
    border-radius: 7px;
    padding-left: 2vw;
    box-sizing: border-box;
    font-size: 15px;
    color: black;
}

.input.center{
    text-align: center;
}

label, input[type=checkbox]{
    width: 15px;
    height: 15px;
    border: 1px solid #FFF;
}
input[type=checkbox]:checked{
    color: #FFF;
    border: 3px solid #FFF;
    background-color: #F2A74B;
}

input[type=time]::-webkit-clear-button{
    display: none;
}

.fw_500{
    font-weight: 500;
}


.wd_100{
    width: 100%;
}
.wd_90{
    width: 90%;
}
.wd_60{
    width: 60%;
}
.wd_50{
    width: 50%;
}
.wd_30{
    width: 30%;
}
.wd_25{
    width: 25%;
}

.mt_1{
    margin-top: 1vh;
}
.mt_3{
    margin-top: 3vh;
}
.mt_5{
    margin-top: 5vh;
}
.mb_1{
    margin-bottom: 1vh;
}
.mb_3{
    margin-bottom: 3vh;
}
.mb_5{
    margin-bottom: 5vh;
}
.ml_1{
    margin-left: 1vw;
}
.ml_3{
    margin-left: 3vw;
}
.ml_5{
    margin-left: 5vw;
}
.mr_1{
    margin-right: 1vw;
}
.mr_3{
    margin-right: 3vw;
}
.mr_5{
    margin-right: 5vw;
}
.pt_1{
    padding-top: 1vh;
}
.pt_3{
    padding-top: 3vh;
}
.pb_1{
    padding-bottom: 1vh;
}
.pb_3{
    padding-bottom: 3vh;
}
.pl_1{
    padding-left: 1vw;
}
.pl_3{
    padding-left: 3vw;
}
.pr_1{
    padding-right: 1vw;
}
.pr_3{
    padding-right: 3vw;
}

.orange{
    color: #F2A74B!important;
}
.bd_orange{
    border-color: #F2A74B!important;
}
.bg_orange{
    background-color: #F2A74B!important;
}

.gray{
    color: #c5c5c5!important;
}
.bd_gray{
    color: #c5c5c5!important;
}

.flex{
    display: flex;
}
.flex.j_center{
    justify-content: center;
}
.flex.j_between{
    justify-content: space-between;
}

.titColor{
    color: #F2F2F2!important;
    font-size: 15px;
}

.btn{
    display: flex;
    border: 1px solid gray;
    padding: 0.5vh 1vw;
    min-width: 15vw;
    height: 3.5vh;
    font-size: 0.9rem;
    text-align: center;
    border-radius: 7px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.rating {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    position: relative;
}
.rating > input {
    display: none;
}
.rating > label {
    width: 30px;
    height: 30px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    border: none;
    font-size: inherit;
    padding: 0;
    background-color: inherit;
    color: inherit;
}
.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.map{
    width: 100%;
    height: 35vh;
}

.iwContent{
    width: 27vw;
    height: 4vh;
    background-color: #24232B;
    color: #F2F2F2;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 0.5em;
    font-weight: 500;
    border: 1px solid #8f8f8f;
}
.iwContent span{
    text-align: center;
    font-size: 11px;
}


.roundImgIco{
    height: 2vh;
    border-radius: 7px;
    padding: 5px;
    filter: invert(98%) sepia(47%) saturate(7221%) hue-rotate(189deg) brightness(129%) contrast(89%);
}

.updownNumInput{
    height: 2vh;
    width: 7vw;
    text-align: center;
    border-radius: 7px;
    padding: 5px;
    margin-left: 1vw;
    background-color: inherit;
    border: 1px solid #F2F2F2;
    color: #F2F2F2;
}

.select_half_wrapper{
    width: 100%;
    margin-top: 0.5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}
.select_half_wrapper > .select_sm {
    width: 48%;
    background-color: #3e3d4a;
    color: #F2F2F2;
}

.select_sm{
    height: 4.5vh;
    min-width: 3vw;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 2px 0 #292b51;
    color: black;
    -moz-appearance: none;

    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}


.modal{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,0.8);
    padding: 5vw;
}
.modal.openModal{
    display: flex;
    align-items: center;
}

.modalWrapper{
    background-color : #24232B;
    width: 100%;
    min-height: 10vh;
    border-radius: 5px;
    /*border: 1px solid black;*/
}
.modalHeader{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}
.modalTitle{
    width: 90%;
}
.modalHeader > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    color: #F2F2F2;
}
.modalHeader > div:nth-child(1){
    justify-content: flex-start;
    width: 90%;
    padding-left: 5%;
}
.modalHeader > div:nth-child(2){
    width: 10%;
    justify-content: center;
}

.modalContent{
    padding: 2vh 2vw;
}

.btnWrapper_40per{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}
.btnWrapper_40per > a:nth-child(1){
    border-color: #F2A74B;
    color: gray;
    width: 33%;
}
.btnWrapper_40per > a:nth-child(2){
    border: 1px solid #F2A74B;
    background-color: #F2A74B;
    color: #24232B;
    width: 59%;
}
.btnWrapper_30per{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}
.btnWrapper_30per > a:nth-child(1){
    border-color: #F2A74B;
    color: gray;
    width: 20%;
}
.btnWrapper_30per > a:nth-child(2){
    border: none;
    background-color: #F2A74B;
    color: #24232B;
    width: 71%;
}

.titWrapper{
    padding: 1vw 0;
    color: #F2F2F2;
}
.titWrapper > div:nth-child(1){
    width: 100%;
    margin-left: 2vw;
}
.titWrapper > div:nth-child(2){
    width: 100%;
    margin-top: 0.5vh;
    text-align: center;
}

.subTit{
    font-size: 1.2rem;
    font-weight: 400;
    color: #c5c5c5;
    padding-bottom: 1vh;
    padding-left: 1vw;
}

.pageTit{
    color: #F2F2F2;
    font-size: 1.6rem;
}

.pwd{
    margin-left: 1vw;
    font-size: 0.8rem;
}
.pwd.poss{
    color: #089308;
}
.pwd.imposs{
    color: #bb0000;
}

.box1{
    padding: 2vh 2vw;
    border: 1px solid;
    border-radius: 7px;
}

.searchMapWrapper{
    width: 100%;
    min-height: 50vh;
}
.searchResultRow{
    border: 1px solid #F2A74B;
    margin-bottom: 1vh;
    border-radius: 7px;
    padding: 1.3vh 1vw 1.3vh 2vw;
    color: #F2F2F2;
}