:root {
    --vh: 100%;
    font-size: 14px;
}

html, body, #app, #app>div{
    height: calc(var(--vh, 1vh) * 100);
    background-color : #24232B;
    margin-bottom: 6vh;
}

body{
    margin: 0;
}
#root{
    padding-bottom: 6vh;
}

input, textarea, button{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}


.titColor{
    color: #F2F2F2!important;
    font-size: 15px;
}

.orange{
    color: #F2A74B!important;
    /*border-color: #F2A74B!important;*/
}

.btn{
    display: flex;
    border: 1px solid gray;
    padding: 0.5vh 1vw;
    min-width: 15vw;
    height: 3vh;
    font-size: 0.9rem;
    text-align: center;
    border-radius: 7px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.rating {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    position: relative;
}
.rating > input {
    display: none;
}
.rating > label {
    width: 30px;
    height: 30px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    border: none;
    font-size: inherit;
    padding: 0;
    background-color: inherit;
    color: inherit;
}
.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.map{
    width: 100%;
    height: 35vh;
}

.iwContent{
    width: 27vw;
    height: 4vh;
    background-color: #24232B;
    color: #F2F2F2;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 0.5em;
    font-weight: 500;
    border: 1px solid #8f8f8f;
}
.iwContent span{
    text-align: center;
    font-size: 11px;
}


.roundImgIco{
    height: 2vh;
    border-radius: 7px;
    padding: 5px;
    filter: invert(98%) sepia(47%) saturate(7221%) hue-rotate(189deg) brightness(129%) contrast(89%);
}

.updownNumInput{
    height: 2vh;
    width: 7vw;
    text-align: center;
    border-radius: 7px;
    padding: 5px;
    margin-left: 1vw;
    background-color: inherit;
    border: 1px solid #F2F2F2;
    color: #F2F2F2;
}

.select_half_wrapper{
    width: 100%;
    margin-top: 0.5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}
.select_half_wrapper > .select_sm {
    width: 48%;
    background-color: #3e3d4a;
    color: #F2F2F2;
}

.select_sm{
    height: 3.9vh;
    min-width: 3vw;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 2px 0 #292b51;
    color: black;
    -moz-appearance: none;

    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}
