:root {
    --vh: 100%;
    font-size: 14px;
}

html, body, #app, #app>div{
    height: calc(var(--vh, 1vh) * 100);
    background-color: #F6F7F1;
    margin-bottom: 6vh;
}

body{
    margin: 0;
}
#root{
    padding-bottom: 6vh;
}

.titColor{
    color: #292b51!important;
    font-size: 15px;
}

.btn{
    display: inline-block;
    border: 1px solid gray;
    padding: 3px;
    min-width: 15vw;
    height: 3vh;
    font-size: 0.9rem;
    text-align: center;
    border-radius: 10px;
}