.mainMapWrapper{
    padding: 0.5vh 1vw;
}

.mapHeader{
    border: 1px solid gray;
    background-color: #FFF;
}

.mapBody{
    min-height: 30vh;
}
.mapBody > a{
    float: right;
    margin-bottom: 0.5vh;
    font-size: 0.8rem;
    border: 2px solid;
    font-weight: 500;
    color: #FFF;
}