.mainWrapper{
    padding: 0.5vh 1vw;
}

#mainMap{
    height: 40vh;
    margin-bottom: 1vh;
}

.mainIco {
    width: 100%;
    display: flex;
}
.mainIco > .left{
    width: 60%;
}
.mainIco > .right{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.mainIco > .right img {
    margin-left: 1vw;
}


.mainScFilter{
    width: 100%;
    min-height: 10vh;
    border: 1px solid gray;
    background-color: #FFF;
    margin-bottom: 1vh;
    padding: 0.5vh 1vw;
    box-sizing: border-box;
}
.mainScFilter > div {
    display: flex;
    margin-bottom: 1vh;
}
.mainScFilter > div:nth-child(1){
    margin-top: 1vh;
}
.mainScFilter > div > div:nth-child(1){
    width: 15%;
    text-align: center;
}
.mainScFilter > div > div:nth-child(2){
    width: 85%;
    display: flex;
}


.select_sm{
    height: 3vh;
    min-width: 20vw;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 2px 0 #292b51;
    margin-left: 1vw;
    color: black;
    -moz-appearance: none;

    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}
