.mainMapWrapper{
    border: 1px solid gray;
    padding: 1vh 1vw;
    background-color: #FFF;
}

.mapHeader{
    border: 1px solid gray;
}

.mapBody{
    border: 1px solid gray;
    margin-top: 1vh;
    min-height: 30vh;
}