<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.trv.auth.dao.AuthDao">
    <select id="selectUser" resultType="com.web.trv.auth.model.UserVo">
        SELECT  *
        FROM    USER
        WHERE   ID = #{id}
                AND
                PWD = #{pwd}
    </select>

    <select id="selectLoginUser" resultType="Tmap">
        SELECT  *
        FROM    LOGIN_USER
        WHERE   ID = #{id}
    </select>

    <update id="updateLoginUser">
        UPDATE  LOGIN_USER
        SET
            <if test='loginYn == "Y".toString()'>
                IP_ADDR = #{ipAddr}
            ,   LOGIN_DT = SYSDATE()
            ,
            </if>
                LOGIN_YN = #{loginYn}
            ,   MOD_DT = SYSDATE()
        WHERE   ID = #{id}
    </update>

    <insert id="insertLoginUser">
        INSERT INTO LOGIN_USER
        (ID, IP_ADDR, LOGIN_DT, LOGIN_YN, MOD_DT)
        VALUES(
                #{id}
            ,   #{ipAddr}
            ,   SYSDATE()
            ,   'Y'
            ,   SYSDATE()
        )
    </insert>
</mapper>