<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.trv.auth.dao.AuthDao">
    <select id="selectUser" resultType="com.web.trv.auth.model.UserVo">
        SELECT  *
        FROM    TRV_USER
        <where>
            <if test="id != null and id != ''">
                ID = #{id}
            </if>
            <if test="encPwd != null and encPwd != ''">
                AND PWD = #{encPwd}
            </if>
            <if test="ph != null and ph != ''">
                AND PH = #{ph}
            </if>
        </where>
    </select>

    <select id="selectLoginUser" resultType="Tmap">
        SELECT  *
        FROM    TRV_LOGIN_USER
        WHERE   ID = #{id}
    </select>

    <update id="updateLoginUser">
        UPDATE  TRV_LOGIN_USER
        SET
            <if test='loginYn == "Y".toString()'>
                IP_ADDR = #{ipAddr}
            ,   LOGIN_DT = SYSDATE()
            ,
            </if>
                LOGIN_YN = #{loginYn}
            ,   MOD_DT = SYSDATE()
        WHERE   ID = #{id}
    </update>

    <insert id="insertLoginUser">
        INSERT INTO TRV_LOGIN_USER
        (ID, IP_ADDR, LOGIN_DT, LOGIN_YN, MOD_DT)
        VALUES(
                #{id}
            ,   #{ipAddr}
            ,   NOW()
            ,   'Y'
            ,   NOW()
        )
    </insert>

    <select id="checkUserExist" resultType="Tmap">
        SELECT
                (   SELECT  COUNT(*)
                    FROM    TRV_USER
                    WHERE   ID = #{id}  ) ID_DUP_CNT
            ,   (   SELECT  COUNT(*)
                    FROM    TRV_USER
                    WHERE   USER_ID = #{userId} ) USER_ID_DUP_CNT
            ,   (   SELECT  COUNT(*)
                    FROM    TRV_USER
                    WHERE   PH = CONCAT(#{ph1}, #{ph2},#{ph3})   ) PH_DUP_CNT
        FROM    DUAL
    </select>

    <insert id="insertUser">
        INSERT INTO TRV_USER
        (ID, USER_ID, PWD, PH)
        VALUES(
                #{id}
           ,    #{userId}
           ,    #{encPwd}
           ,    CONCAT(#{ph1}, #{ph2}, #{ph3})
        )
    </insert>
</mapper>