<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.trv.program.board.dao.BoardDao">

    <resultMap id="boardList" type="com.web.trv.program.board.model.BoardVo">
        <collection column="boardId = id" property="addInfoList" javaType="List" ofType="com.web.trv.program.board.model.AddInfoVo"
                    select="selectAddInfoList"/>
        <collection column="refId = id" property="fileList" javaType="List" ofType="com.web.trv.comn.model.FileVo"
                    select="selectFileList"/>
        <collection column="boardId = id" property="district" javaType="com.web.trv.program.board.model.BoardDistrictVo"
                    select="selectBoardDistrict"/>
        <collection column="sysCd = category" property="categorySysCd" javaType="com.web.trv.comn.model.SysCodeVo"
                    select="selectSysCd"/>
    </resultMap>

    <select id="selectBoardList" resultMap="boardList">
        SELECT  *
        FROM    TRV_BOARD
        <where>
            <if test="districtList != null">
                <foreach collection="districtList" open="ID IN (" close=")" separator="," item="district">
                    #{district.boardId}
                </foreach>
            </if>
        </where>
        ORDER BY 1 DESC
    </select>

    <select id="selectAddInfoList" resultType="com.web.trv.program.board.model.AddInfoVo">
        SELECT  A.*
            ,   (SELECT NM
                 FROM   TRV_SYS_CODE
                 WHERE  SYS_CD = A.SYS_CD) sysCdNm
        FROM    TRV_BOARD_ADD_INFO A
        WHERE   BOARD_ID = #{boardId}
            AND VAL = 'Y'
    </select>

    <select id="selectFileList" resultType="com.web.trv.comn.model.FileVo">
        SELECT  *
        FROM    TRV_FILE
        WHERE   REF_ID = #{refId}
    </select>

    <select id="selectBoardDistrict" resultType="com.web.trv.program.board.model.BoardDistrictVo">
        SELECT  *
        FROM    TRV_BOARD_DISTRICT
        WHERE   BOARD_ID = #{boardId}
    </select>

    <select id="selectSysCd" resultType="com.web.trv.comn.model.SysCodeVo">
        SELECT  *
        FROM    TRV_SYS_CODE
        WHERE   SYS_CD = #{sysCd}
    </select>

    <select id="getFile" resultType="com.web.trv.comn.model.FileVo">
        SELECT  *
        FROM    TRV_FILE
        WHERE   ID = #{id}
            AND REF_ID = #{refId}
    </select>

    <select id="selectNearby" resultType="com.web.trv.program.board.model.BoardDistrictVo">
        SELECT  *
        FROM    TRV_BOARD_DISTRICT
        <!--
        WHERE   LATITUDE <![CDATA[<]]> #{maxLatitude}
            AND LATITUDE > #{minLatitude}
            AND LONGITUDE <![CDATA[<]]> #{maxLongitude}
            AND LONGITUDE > #{minLongitude}
        -->
    </select>

</mapper>