<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.trv.program.district.dao.DistrictDao">

    <select id="selectRegion1" resultType="String">
        SELECT DISTINCT REGION_1
        FROM    TRV_BOARD_DISTRICT
    </select>

    <select id="selectRegion2" resultType="String">
        SELECT DISTINCT REGION_2
        FROM    TRV_BOARD_DISTRICT
        WHERE   REGION_1 = #{region1}
    </select>

    <select id="selectType" resultType="com.web.trv.comn.model.SysCodeVo">
        SELECT  *
        FROM    TRV_SYS_CODE
        WHERE   UP_SYS_CD = #{upSysCd}
    </select>


    <select id="selectBoardDistrict" resultType="com.web.trv.program.board.model.BoardDistrictVo">
        SELECT  *
        FROM    TRV_BOARD_DISTRICT
        <where>
            <if test="region1 != null and !region1.equals('')">
                REGION_1 = #{region1}
            </if>
            <if test="region2 != null and !region2.equals('')">
                AND REGION_2 = #{region2}
            </if>
        </where>
    </select>
</mapper>