<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.trv.program.plan.dao.PlanDao">

    <resultMap id="planDoMap" type="com.web.trv.program.plan.model.PlanDoVo">
        <collection column="boardId = board_id" property="board" javaType="com.web.trv.program.board.model.BoardVo"
                    select="selectBoard"/>
    </resultMap>

    <insert id="insertPlanDay">
        INSERT INTO TRV_PLAN_DAY
        (ID, USER_ID, NM, START_TM, END_TM, MOD_DT)
        VALUES(
                CONCAT('PLD', LPAD(GET_SEQ('PLD'), 7, 0))
            ,   #{userId}
            ,   #{nm}
            ,   #{startTm}
            ,   #{endTm}
            ,   NOW()
        )
    </insert>

    <update id="updatePlanDay">
        UPDATE TRV_PLAN_DAY
        SET     NM = #{nm}
            ,   START_TM = #{startTm}
            ,   END_TM = #{endTm}
            ,   START_LOC_NM = #{startLocNm}
            ,   START_LOC_LAT = #{startLocLat}
            ,   START_LOC_LNG = #{startLocLng}
            ,   MOD_DT = NOW()
        WHERE   ID = #{id}
    </update>

    <select id="selectMyPlanList" resultType="com.web.trv.program.plan.model.PlanVo">
        SELECT  ID
             ,  USER_ID
             ,  NM
             ,  DATE_FORMAT(START_TM, '%H:%i') AS START_TM
             ,  DATE_FORMAT(END_TM, '%H:%i') AS END_TM
             ,  START_LOC_NM
             ,  START_LOC_LAT
             ,  START_LOC_LNG
             ,  MOD_DT
        FROM    TRV_PLAN_DAY
        WHERE   USER_ID = #{userId}
            <if test="existPlanDay != null">
            AND ID NOT IN
                <foreach collection="existPlanDay" open="(" close=")" separator="," item="item">
                    #{item.dayId}
                </foreach>
            </if>
        ORDER BY
            <choose>
                <when test="sort != null and sort != ''">
                    ${sort}
                </when>
                <otherwise>
                    NM
                </otherwise>
            </choose>
    </select>

    <select id="selectPlan" resultType="com.web.trv.program.plan.model.PlanVo">
        SELECT  ID
             ,  USER_ID
             ,  NM
             ,  DATE_FORMAT(START_TM, '%H:%i') AS START_TM
             ,  DATE_FORMAT(END_TM, '%H:%i') AS END_TM
             ,  START_LOC_NM
             ,  START_LOC_LAT
             ,  START_LOC_LNG
             ,  MOD_DT
        FROM    TRV_PLAN_DAY
        WHERE   USER_ID = #{userId}
            AND ID = #{id}
    </select>

    <select id="selectMyPlanDoList" resultType="com.web.trv.program.plan.model.PlanDoVo">
        SELECT  ID, DAY_ID
             ,  BOARD_ID
             ,  ORDR
             ,  DATE_FORMAT(EXPECTED_TM, '%H:%i') AS EXPECTED_TM
             ,  STAY_TM_MIN
             ,  TRAVEL_TM_MIN
             ,  MOD_DT
        FROM    TRV_PLAN_DO
        WHERE
            <if test="boardId != null and boardId != ''">
            DAY_ID IN ( SELECT  ID
                        FROM    TRV_PLAN_DAY
                        WHERE   USER_ID = #{userId})
            AND BOARD_ID = #{boardId}
            </if>
            <if test="dayId != null and dayId != ''">
            DAY_ID = #{dayId}
            </if>
    </select>

    <select id="selectPlanDo" resultType="com.web.trv.program.plan.model.PlanDoVo">
        SELECT  ID, DAY_ID
             ,  BOARD_ID
             ,  ORDR
             ,  DATE_FORMAT(EXPECTED_TM, '%H:%i') AS EXPECTED_TM
             ,  STAY_TM_MIN
             ,  TRAVEL_TM_MIN
             ,  MOD_DT
        FROM    TRV_PLAN_DO
        WHERE   ID = #{id}
    </select>

    <insert id="insertPlanDo">
        INSERT INTO TRV_PLAN_DO
        (ID, DAY_ID, BOARD_ID, MOD_DT)
        VALUES(
                CONCAT('PLO', LPAD(GET_SEQ('PLO'), 7, 0))
             ,  #{dayId}
             ,  #{boardId}
             ,  NOW()
        )
    </insert>

    <update id="updatePlanDo">
        UPDATE TRV_PLAN_DO
        SET     ORDR = #{ordr}
            ,   EXPECTED_TM = #{expectedTm}
            ,   STAY_TM_MIN = #{stayTmMin}
            ,   TRAVEL_TM_MIN = #{travelTmMin}
            ,   MOD_DT = NOW()
        WHERE   ID = #{id}
    </update>

    <delete id="deletePlanDo">
        DELETE FROM TRV_PLAN_DO
        WHERE   ID = #{id}
    </delete>

    <delete id="deletePlanDay">
        DELETE FROM TRV_PLAN_DAY
        WHERE   ID = #{id}
    </delete>

    <select id="selectDoList" resultMap="planDoMap">
        SELECT  ID, DAY_ID
             ,  BOARD_ID
             ,  ORDR
             ,  DATE_FORMAT(EXPECTED_TM, '%H:%i') AS EXPECTED_TM
             ,  STAY_TM_MIN
             ,  TRAVEL_TM_MIN
             ,  MOD_DT
        FROM    TRV_PLAN_DO
        WHERE   DAY_ID = #{dayId}
        ORDER BY ORDR
    </select>

    <select id="selectBoard" resultMap="com.web.trv.program.board.dao.BoardDao.boardMap">
        SELECT  *
        FROM    TRV_BOARD
        WHERE   ID = #{boardId}
    </select>
</mapper>