<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.trv.program.plan.dao.PlanDao">

    <insert id="insertPlanDay">
        INSERT INTO TRV_PLAN_DAY
        (ID, USER_ID, NM, START_TM, END_TM, MOD_DT)
        VALUES(
                CONCAT('PLD', LPAD(GET_SEQ('PLD'), 7, 0))
            ,   #{userId}
            ,   #{nm}
            ,   #{startTm}
            ,   #{endTm}
            ,   NOW()
        )
    </insert>

    <select id="selectMyPlanList" resultType="com.web.trv.program.plan.model.PlanVo">
        SELECT  ID
             ,  USER_ID
             ,  NM
             ,  DATE_FORMAT(START_TM, '%H:%i') AS START_TM
             ,  DATE_FORMAT(END_TM, '%H:%i') AS END_TM
             ,  MOD_DT
        FROM    TRV_PLAN_DAY
        WHERE   USER_ID = #{userId}
            <if test="existPlanDay != null">
            AND ID NOT IN
                <foreach collection="existPlanDay" open="(" close=")" separator="," item="item">
                    #{item.dayId}
                </foreach>
            </if>
        ORDER BY MOD_DT DESC
    </select>

    <select id="selectMyPlanDoList" resultType="com.web.trv.program.plan.model.PlanDoVo">
        SELECT  *
        FROM    TRV_PLAN_DO
        WHERE   BOARD_ID = #{boardId}
            AND DAY_ID IN ( SELECT  ID
                            FROM    TRV_PLAN_DAY
                            WHERE   USER_ID = #{userId})
    </select>

    <insert id="insertPlanDo">
        INSERT INTO TRV_PLAN_DO
        (ID, DAY_ID, BOARD_ID, MOD_DT)
        VALUES(
                CONCAT('PLO', LPAD(GET_SEQ('PLO'), 7, 0))
             ,  #{dayId}
             ,  #{boardId}
             ,  NOW()
        )
    </insert>
</mapper>