<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.trv.program.plan.dao.PlanDao">

    <resultMap id="planDoMap" type="com.web.trv.program.plan.model.PlanDoVo">
        <collection column="boardId = board_id" property="board" javaType="com.web.trv.program.board.model.BoardVo"
                    select="selectBoard"/>
    </resultMap>

    <resultMap id="boardMap" type="com.web.trv.program.board.model.BoardVo">
        <collection column="sysCd = category" property="categoryVo" javaType="com.web.trv.comn.model.SysCodeVo"
                    select="selectSysCd"/>
        <collection column="sysCd = category" property="upCategoryVo" javaType="com.web.trv.comn.model.SysCodeVo"
                    select="selectUpSysCd"/>
        <collection column="boardId = id" property="addInfoList" javaType="List" ofType="com.web.trv.program.board.model.AddInfoVo"
                    select="selectAddInfoList"/>
        <collection column="refId = id" property="fileList" javaType="List" ofType="com.web.trv.comn.model.FileVo"
                    select="selectFileList"/>
        <collection column="boardId = id" property="district" javaType="com.web.trv.program.board.model.BoardDistrictVo"
                    select="selectBoardDistrict"/>
    </resultMap>


    <insert id="insertPlanDay">
        INSERT INTO TRV_PLAN_DAY
        (ID, USER_ID, NM, START_TM, END_TM, MOD_DT)
        VALUES(
                CONCAT('PLD', LPAD(GET_SEQ('PLD'), 7, 0))
            ,   #{userId}
            ,   #{nm}
            ,   #{startTm}
            ,   #{endTm}
            ,   NOW()
        )
    </insert>

    <select id="selectMyPlanList" resultType="com.web.trv.program.plan.model.PlanVo">
        SELECT  ID
             ,  USER_ID
             ,  NM
             ,  DATE_FORMAT(START_TM, '%H:%i') AS START_TM
             ,  DATE_FORMAT(END_TM, '%H:%i') AS END_TM
             ,  MOD_DT
        FROM    TRV_PLAN_DAY
        WHERE   USER_ID = #{userId}
            <if test="existPlanDay != null">
            AND ID NOT IN
                <foreach collection="existPlanDay" open="(" close=")" separator="," item="item">
                    #{item.dayId}
                </foreach>
            </if>
        ORDER BY MOD_DT DESC
    </select>

    <select id="selectMyPlanDoList" resultType="com.web.trv.program.plan.model.PlanDoVo">
        SELECT  *
        FROM    TRV_PLAN_DO
        WHERE
            <if test="boardId != null and boardId != ''">
            DAY_ID IN ( SELECT  ID
                        FROM    TRV_PLAN_DAY
                        WHERE   USER_ID = #{userId})
            AND BOARD_ID = #{boardId}
            </if>
            <if test="dayId != null and dayId != ''">
            DAY_ID = #{dayId}
            </if>
    </select>

    <insert id="insertPlanDo">
        INSERT INTO TRV_PLAN_DO
        (ID, DAY_ID, BOARD_ID, MOD_DT)
        VALUES(
                CONCAT('PLO', LPAD(GET_SEQ('PLO'), 7, 0))
             ,  #{dayId}
             ,  #{boardId}
             ,  NOW()
        )
    </insert>

    <delete id="deletePlanDo">
        DELETE FROM TRV_PLAN_DO
        WHERE   ID = #{id}
    </delete>

    <delete id="deletePlanDay">
        DELETE FROM TRV_PLAN_DAY
        WHERE   ID = #{id}
    </delete>

    <select id="selectDoList" resultMap="planDoMap">
        SELECT  *
        FROM    TRV_PLAN_DO
        WHERE   DAY_ID = #{dayId}
    </select>

    <select id="selectBoard" resultMap="boardMap">
        SELECT  *
        FROM    TRV_BOARD
        WHERE   ID = #{boardId}
    </select>

    <select id="selectSysCd" resultType="com.web.trv.comn.model.SysCodeVo">
        SELECT  *
        FROM    TRV_SYS_CODE
        WHERE   SYS_CD = #{sysCd}
    </select>

    <select id="selectUpSysCd" resultType="com.web.trv.comn.model.SysCodeVo">
        SELECT  *
        FROM    TRV_SYS_CODE
        WHERE   SYS_CD =    (   SELECT  UP_SYS_CD
                                FROM    TRV_SYS_CODE
                                WHERE   SYS_CD = #{sysCd} )
    </select>

    <select id="selectAddInfoList" resultType="com.web.trv.program.board.model.AddInfoVo">
        SELECT  A.*
             ,   (SELECT NM
                  FROM   TRV_SYS_CODE
                  WHERE  SYS_CD = A.SYS_CD) sysCdNm
        FROM    TRV_BOARD_ADD_INFO A
        WHERE   BOARD_ID = #{boardId}
          AND VAL = 'Y'
    </select>

    <select id="selectFileList" resultType="com.web.trv.comn.model.FileVo">
        SELECT  *
        FROM    TRV_FILE
        WHERE   REF_ID = #{refId}
    </select>

    <select id="selectBoardDistrict" resultType="com.web.trv.program.board.model.BoardDistrictVo">
        SELECT  BOARD_ID
             ,  LATITUDE
             ,  LONGITUDE
             ,  REGION_1
             ,  REGION_2
             ,  REGION_3
             ,  ADDR
             ,  MOD_DT
        FROM    TRV_BOARD_DISTRICT
        WHERE   BOARD_ID = #{boardId}
    </select>
</mapper>