<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.trv.program.register.dao.RegisterDao">

    <select id="selectAddInfoList" resultType="com.web.trv.comn.model.SysCodeVo">
        SELECT  *
        FROM    TRV_SYS_CODE
        WHERE   UP_SYS_CD = 'SYS0000009' <!-- ADD_INFO -->
    </select>

    <select id="selectBoardCategory" resultType="com.web.trv.comn.model.SysCodeVo">
        SELECT  *
        FROM    TRV_SYS_CODE
        WHERE   UP_SYS_CD = #{sysCd} <!-- CATEGORY -->
    </select>

    <insert id="insertBoard">
        <selectKey resultType="String" keyProperty="boardId" order="BEFORE">
            SELECT CONCAT('BRD', LPAD(GET_SEQ('BRD'), 7, 0))
        </selectKey>
        INSERT INTO TRV_BOARD
        (ID, USER_ID, TITLE, SUMMARY, CONTENT, CATEGORY, RATING)
        VALUES(
                #{boardId}
            ,   #{userId}
            ,   #{title}
            ,   #{summary}
            ,   #{content}
            ,   #{category}
            ,   #{rating}
        )
    </insert>

    <update id="updateBoard">
        UPDATE  TRV_BOARD
        SET     TITLE = #{title}
            ,   SUMMARY = #{summary}
            ,   CONTENT = #{content}
            ,   CATEGORY = #{category}
            ,   RATING = #{rating}
        WHERE   ID = #{boardId}
    </update>

    <delete id="deleteBoard">
        DELETE FROM TRV_BOARD
        WHERE   ID = #{boardId}
    </delete>

    <insert id="insertDistrictInfo">
        INSERT INTO TRV_BOARD_DISTRICT
        (BOARD_ID, LATITUDE, LONGITUDE, REGION_1, REGION_2, ADDR)
        VALUES (
                #{boardId}
            ,   #{district.latitude}
            ,   #{district.longitude}
            ,   LEFT(#{district.region1}, 2)
            ,   SUBSTRING_INDEX(#{district.region2}, ' ', 1)
            ,   #{district.addr}
        )
    </insert>

    <delete id="deleteDistractInfo">
        DELETE FROM TRV_BOARD_DISTRICT
        WHERE   BOARD_ID = #{boardId}
    </delete>

    <insert id="insertAddInfo">
        INSERT INTO TRV_BOARD_ADD_INFO
        (BOARD_ID, SYS_CD, VAL)
        VALUES
        <foreach collection="addInfoList" item="addInfo" separator=",">
            (
                    #{boardId}
                ,   #{addInfo.sysCd}
                ,   #{addInfo.val}
            )
        </foreach>
    </insert>

    <delete id="deleteAddInfo">
        DELETE FROM TRV_BOARD_ADD_INFO
        WHERE   BOARD_ID = #{boardId}
    </delete>

    <insert id="insertFile">
        <selectKey resultType="String" keyProperty="id" order="BEFORE">
            SELECT CONCAT('FLE', LPAD(GET_SEQ('FLE'), 7, 0))
        </selectKey>
        INSERT INTO TRV_FILE
        (ID, REF_ID, OFN, RFN, TYPE, SIZE, DIR)
        VALUES(
                #{id}
           ,    #{refId}
           ,    #{ofn}
           ,    #{rfn}
           ,    #{type}
           ,    #{size}
           ,    #{dir}
        )
    </insert>

    <delete id="deleteFile">
        DELETE FROM TRV_FILE
        WHERE   REF_ID = #{boardId}
    </delete>
</mapper>